In [23]:
import pandas as pd
import gmaps
from IPython.display import display

In [24]:
data = pd.read_csv("CV_LatLon_21Jan_12Mar.csv")
df = pd.DataFrame(data)
df.head()
df.shape

(20706, 9)

In [22]:
mylist = ["confirmed"]
df2 = df[df[mylist].ne(0).all(1)]
df2

,Unnamed: 0,state,country,lat,lon,date,confirmed,recovered,death
0,0,0,Thailand,15.0000,101.0000,1/22/20,2,0,0
1,1,0,Japan,36.0000,138.0000,1/22/20,2,0,0
156,156,Hubei,China,30.9756,112.2707,1/22/20,444,28,17
158,158,0,"Korea, South",36.0000,128.0000,1/22/20,1,0,0
160,160,Guangdong,China,23.3417,113.4244,1/22/20,26,0,0
...,...,...,...,...,...,...,...,...,...
20510,20510,0,Reunion,-21.1151,55.5364,3/12/20,1,0,0
20511,20511,0,Turkey,38.9637,35.2433,3/12/20,1,0,0
20512,20512,Gibraltar,United Kingdom,36.1408,-5.3536,3/12/20,1,1,0
20704,20704,0,Cuba,22.0000,-80.0000,3/12/20,3,0,0
20705,20705,0,Guyana,5.0000,-58.7500,3/12/20,1,0,1

In [26]:
gmaps.configure(api_key="")
locations = df2[['lat', 'lon']]
weights = df2['confirmed']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, max_intensity=100, point_radius=20.0))
fig

Figure(layout=FigureLayout(height='420px'))